-
    var globals = {
        header: {
            title: 'Центр надання адміністративних послуг'
        },
        subheading: {
            title: "Виберіть категорію"
        },
        icon: {
            src: "/assets/img/book.png"
        },
        items: [
            {
                src: "/assets/img/1.png",
                description: "Автотранспорт"
            },
            {
                src: "/assets/img/2.png",
                description: "Будівництво, архітектура, землекористування"
            },
            {
                src: "/assets/img/3.png",
                description: "Громадянство"
            },
            {
                src: "/assets/img/4.png",
                description: "Захист прав дитини"
            },
            {
                src: "/assets/img/5.png",
                description: "Реєстрація місця проживання/перебування"
            },
            {
                src: "/assets/img/6.png",
                description: "Підприємницька діяльність"
            },
            {
                src: "/assets/img/7.png",
                description: "Санітарне та епідемічне  благополуччя,  ветеринарна медицина"
            },
            {
                src: "/assets/img/8.png",
                description: "Комунальне господарство"
            }
        ]
    }