mixin b-intro
    .container
        .row
            +b.header.col-sm-12
                +e.inner
                    +e.IMG.icon(src=globals.icon.src)
                    +e.H1.title= globals.header.title
        .row
            +b.subheading.col-sm-12
                +e.inner
                    +e.H1.title= globals.subheading.title
        .row
            +b.content.col-sm-12
                +e.inner
                    each item in globals.items
                        +e.item
                            +e.IMG.foto(src=item.src)
                            +e.P.description= item.description