*
    padding 0
    margin 0
body
    color #000
    background-color #EBEEF6
.container
    width 100%
.header
    background-color #383E49
    width 100%
    height 80px
    display flex
    justify-content center
    align-items center
    &__inner
        width 100%
        display flex
        justify-content center
        align-items center
    &__icon
        width 37px
        margin-right 2%
    &__title
        font-size 26px
        padding 0
        margin 0
        color #fff
        font-family sans-serif
.subheading
    width 100%
    &__inner
        width 100%
        display flex
        justify-content center
        align-items center
    &__title
        font-size 26px
        padding 0
        margin 0
        color #474D58
        margin 40px 0 20px 0
        font-family sans-serif
.content
    &__inner
        width 100%
        display flex
        justify-content space-around
        align-items center
        flex-wrap wrap
    &__item
        width 20%
        height 250px
        margin 20px 1%
        background-color #fff
        display flex
        flex-direction column
        align-items center
        cursor pointer
        &:hover ^[-1]__foto
            perspective 500px
            transform rotate3d(50, 10, 50, 360deg)
            transition 3s
    &__foto
        margin-bottom 20px
        margin-top 50px
    &__description
        text-align center