include ../../node_modules/bemto.pug/bemto
include ../blocks/all

- 
	set_bemto_settings({
		prefix: '',
		element: '__',
		modifier: '_'
	})

block params
	- var lang = 'ua'



if lang == 'ua'
	include ../globals/dataUa
else
	include ../globals/dataRu

doctype html
html
	head
		link(rel="stylesheet" href="/assets/bootstrap.css")
		link(rel="stylesheet" href="/assets/app.css")
	body
		block content
		script(src="/assets/app.js")
		
