mixin header(data)

	+b.header
		if data.header
			+e('img').logo(src=data.header.logo)

			+e.title= data.header.title
			+e.address= data.header.address
	
		if data.menu
			+e('ul').menu
				each item in data.menu
					+e.menu-item
						+e.link(href=item.url)= item.title
						
		if data.header
			+e.auth
				+e.user-name= data.header.user.name
				+e('img').user-pic(src=data.header.user.pic)


